body {
	background: linear-gradient(to right, #004379, #00D3E9 , #004379);
}

.bpm-header {
	text-align: center;
}

.bpm-table {
	margin: 0 auto;
}

.breaker {

}

.accordion-navigation a {
	background-color: #004379 !important;
}

.accordion-navigation a:hover {
	background-color: #0078a0 !important;
}

.artist {
	color: purple;
}

.title {

}